name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Tar with Buildx CLI
        run: |
          docker buildx build \
            --platform linux/arm64 \
            --tag loki-mcp:latest \
            --output type=docker,dest=loki-mcp.tar \
            .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arm-tarball
          path: loki-mcp.tar
